# Server Port & Mode
PORT=3007
MODE=development # production

# server settings
DB_URI=mongodb://localhost:27017/conqueror-developers
SERVER_URL=https://localhost:3007/api
JWT_SECRET=conqueror-developers

# AWS S3 Configuration
AWS_REGION=
AWS_ACCESSKEYID=
AWS_SECRETACCESSKEY=
AWS_BUCKET_NAME=

# Brevo API Key
SENDER_NAME=
SENDER_EMAIL=
BREVO_API_KEY=
